<!DOCTYPE html>
<html>

<head>
    {% include 'libs.html' %}

    <script>
        $(document).ready(function () {
            const code = $('body').attr('data-product-code');
            $.get('/api/products/' + code + '/samples').done(samples => {
                const xs = [];
                const ys = [];

                let i = 0;
                let last_price = 0;
                for (const sample of samples) {
                    time = sample.sample_time;
                    price = sample.product_info.price;

                    /* Insert the last price to render changes as "steps". */
                    if (i && price != last_price) {
                        xs.push(time);
                        ys.push(last_price)
                    }

                    xs.push(time);
                    ys.push(price);
                    last_price = price;
                    i++;
                }
                console.log(samples);
                console.log(xs);
                console.log(ys);

                const div = $('#price-history')[0];
                Plotly.newPlot(div, [{
                    x: xs,
                    y: ys,
                    type: 'scatter',
                    mode: 'lines+markers',
                }]);
            });
            console.log(code);
            /*

             Plotly.newPlot(graph, [{
                 x: [1, 2, 3, 4, 5],
                 y: [1, 2, 4, 8, 16]
             }], {
                 margin: { t: 0 }
             });*/

        });
    </script>
</head>

<body data-product-code="{{ listing.code }}">

    <p>
        Name: {{ listing.name }}
        <br>
        <a href="https://canadiantire.ca{{ listing.url }}">{{ listing.sku }}</a>
    </p>

    <div id="price-history" style="width:600px;height:250px;"></div>
</body>

</html>
